@import url('https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap');

body {
  margin: 0;
  font-family: 'Vazirmatn', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.c-icon {
  width: 80px;
  height: 80px;
}
